# Examples and exercises for Lecture Adversarial Regularization Regimes for Classification Tasks

In [3]:
import os
from pathlib import Path

import pandas as pd
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
import numpy as np

# from risk_learning.arr import (
#     convert_to_categorical,
#     make_feature_combination_array,
#     make_feature_combination_score_array,
#     make_trend_reports, 
#     make_data_trend_reports
# )

## Example Simpson's Paradox Data

In [18]:
datadir = Path(os.getcwd()) / 'data'
data_path = datadir / 'adversarial-default-for-x-validation.csv'

df = pd.read_csv(data_path)
df

     default  gender  occupation
0          0       0           1
1          1       0           0
2          1       1           1
3          0       0           0
4          0       1           1
..       ...     ...         ...
595        0       0           0
596        0       0           1
597        1       0           0
598        1       0           0
599        0       0           1

[600 rows x 3 columns]

In [5]:
label_mapping_values = dict(gender=[0, 1], occupation=[0, 1])
data_categories = label_mapping_values.copy()
data_categories['default'] = [0, 1]
#df = convert_to_categorical(df, data_categories)
df.head(10)

   default  gender  occupation
0        0       0           1
1        1       0           0
2        1       1           1
3        0       0           0
4        0       1           1
5        1       0           0
6        0       0           0
7        1       0           0
8        0       0           0
9        1       0           0

## Exercise: Simpson or not?

Difficulty: (*)

Prove that this dataset exhibites Simpson's paradox.

In [51]:
moski = df[df['gender'] == 1]
st_moski = len(moski)
st_moski_default = len(moski[df['default'] ==1])
st_moski_okupacija1 = len(moski[df['occupation'] ==1])




moski_kolk = moski.groupby('default')
moski_kolk = moski_kolk.size() # stevilo moskih ki  so na neki ocupaciji 
st_default_ce_si_moski = moski_kolk[1]

P_default_da_si_moski = st_default_ce_si_moski / len(moski)  



moski_kolk2 = moski.groupby(['default','occupation'])
moski_kolk2 = moski_kolk2.size()
moski_kolk2 = pd.DataFrame(moski_kolk2)
st_moskih_k_default_in_okupacija0 = moski_kolk2.loc[(1,0)]
st_moskih_k_default_in_okupacija1 = moski_kolk2.loc[(1,1)]


P_default_da_si_moski_in_okupacija0 = 1 #ker tistih k nefaultajo in okupacija je 0 jih pac ni
P_default_da_si_moski_in_okupacija1 = st_moskih_k_default_in_okupacija1 / (moski_kolk2.loc[(1,1)] + moski_kolk2.loc[(0,1)]) 


indexes_list = moski_kolk2.index.tolist()


###### Å½ENSKE 
zenske = df[df['gender'] == 0]

zenske_kolk = zenske.groupby('default')
zenske_kolk = zenske_kolk.size() # stevilo moskih ki  so na neki ocupaciji 
st_default_ce_si_zenske = zenske_kolk[1]

P_default_da_si_zenske = st_default_ce_si_zenske / len(zenske)  
zenske_kolk2 = zenske.groupby(['default','occupation'])
zenske_kolk2 = zenske_kolk2.size()
zenske_kolk2 = pd.DataFrame(zenske_kolk2)


P_default_da_si_zenske_okupacija0 = zenske_kolk2.loc[(1,0)] / (zenske_kolk2.loc[(1,0)] + zenske_kolk2.loc[(0,0)])
P_default_da_si_zenske_okupacija1 = zenske_kolk2.loc[(1,1)] / (zenske_kolk2.loc[(1,1)] + zenske_kolk2.loc[(0,1)])

print(P_default_da_si_moski)
#print(P_default_da_si_moski >= P_default_da_si_zenske,P_default_da_si_moski_in_okupacija1 < P_default_da_si_zenske_okupacija1, P_default_da_si_moski_in_okupacija0 < P_default_da_si_zenske_okupacija0 )

0.28488372093023256

C:\Users\petja\AppData\Local\Temp\ipykernel_8164\2445808869.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  st_moski_default = len(moski[df['default'] ==1])
C:\Users\petja\AppData\Local\Temp\ipykernel_8164\2445808869.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  st_moski_okupacija1 = len(moski[df['occupation'] ==1])

## Exercises: non-trivial regularization regime

* Which optimizer ("solver") for logistic regression seems best suited for the above dataset? https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
* Calculate the "true" trends for female default for each occupation subgroup. Note that in sklearn, the inverse regularization parameter is  used, $C$, so to approximate the usual $c=0$, set $C$ to a large value. Difficulty (**)
* Show that this dataset is adversarial for logistic regression for inverse regularization parameter $C=0.05$. Difficulty: (**)
* Show that this dataset is still adversarial for k-fold cross-validated logistic regression if $k=5$, the default setting.